<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styleadmin.css">
    <title>Painel Admin</title>
</head>
<body>
    <h2>Painel Administração</h2>
    <h4>Menu:</h4>
    <a href="/mygrid">My Grid</a><br>

    <h2>Painel da Gallery</h2>
    <h4>Menu:</h4>
    <a href="/gallery">Gallery</a><br>

    <button onclick="myFunction()">escurinho/clarinho</button>

    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>
</body>
</html>